* {
  font-size: 14px;
}
body {
  background-color: rgb(202, 201, 252);
}
.mg {
  position: absolute;
  margin-top: 30px;
  margin-left: 160px;
}
.calc-app {
  margin: 0 auto;
  margin-top: 40px;
  width: 225px;
  text-align: center;
  height: 410px;
  background-color: black;
  border-radius: 15px;
}
.calc-app1 {
  margin: 0 auto;
  margin-top: 40px;
  width: 225px;
  text-align: center;
  height: 410px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}
.calc-screen {
  text-align: right;
  font-size: 3rem;
}
.calc-screen1 {
  text-align: right;
  font-size: 2rem;
}
.calc-screen2 {
  text-align: right;
  font-size: 1rem;
}
.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  border: none;
  width: 204px;
  margin-left: 10px;
  margin-top: 5px;
  background-color: rgb(0, 0, 0);
}
.keypad1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  border: none;
  width: 204px;
  margin-left: 10px;
  margin-top: 5px;
  background-color: rgb(255, 255, 255);
}
.equal {
  background-color: rgb(255, 0, 0);
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 50%;
}
.zeros {
  color: gray;
  border: none;
  background-color: rgb(32, 30, 30);
  border-radius: 50%;
}
.zeros1:hover {
  background-color: rgb(243, 191, 191);
}
.zeros:hover {
  background-color: rgb(58, 27, 27);
}
.zeros1 {
  color: gray;
  border: none;
  background-color: rgb(241, 240, 240);
  border-radius: 50%;
}
h1 {
  margin-top: 20px;
  text-align: center;
  color: rgb(38, 0, 255);
  font-size: 20px;
}
.button1 {
  border: none;
  background-color: rgb(32, 30, 30);
  color: rgb(255, 255, 255);
  border-radius: 50%;
}
.btn1 {
  border: none;
  background-color: rgb(241, 240, 240);
  color: red;
  border-radius: 50%;
}
.btn1:hover {
  background-color: rgb(243, 191, 191);
}
.btn2 {
  border: none;
  background-color: rgb(32, 30, 30);
  color: red;
  border-radius: 50%;
}
.btn2:hover {
  background-color: rgb(58, 27, 27);
}
.button {
  border: none;
  background-color: rgb(241, 240, 240);
  color: rgb(0, 0, 0);
  border-radius: 50%;
}
#w {
  height: 130px;
  margin-top: 8px;
  width: 200px;
  background-color: black;
  color: white;
  border: none;
}
#w1 {
  height: 130px;
  margin-top: 8px;
  width: 200px;
  background-color: rgb(250, 250, 250);
  color: rgb(0, 0, 0);
  border: none;
}

.button:hover {
  background-color: rgb(243, 191, 191);
}
.button1:hover {
  background-color: rgb(58, 27, 27);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(0, 0, 0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #000000;
}

input:checked + .slider:before {
  background-color: #ffffff;

  transform: translateX(26px);
}
